@use 'mixins/mixins.scss' as *;
@use 'mixins/var.scss' as *;


@include b(button) {
    @include set-component-css-var('button', $button)
}

@include b(button) {
    height: 32px;
    color: getCssVar('button', 'text-color');
    outline: none;
    font-weight: 500;
    background-color: getCssVar('button', 'bg-color');
    border: 1px solid #dcdfe6;
    border-color: getCssVar('button', 'border-color');;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        color: getCssVar('button', 'hover','text-color');
        border-color: getCssVar('button', 'hover','border-color');
        background-color: getCssVar('button', 'hover','bg-color');
        outline: none;
    }
    &:active {
        color: getCssVar('button', 'active','text-color');
        border-color: getCssVar('button', 'active','border-color');
        background-color: getCssVar('button', 'active','bg-color');
        outline: none;
    }
    @include m(primary) {
        --ell-button-text-color: #ffffff;
        --ell-button-bg-color: #409eff;
        --ell-button-border-color: #409eff;
        --ell-button-hover-text-color: #fff;
        --ell-button-hover-bg-color: #79bbff;
        --ell-button-hover-border-color: #79bbff;
        --ell-button-active-color: #337ecc;
        --ell-button-active-bg-color: #337ecc;
        --ell-button-active-border-color: #337ecc;
    }
    @include m(success) {
        --ell-button-text-color: #ffffff;
        --ell-button-bg-color: #67c23a;
        --ell-button-border-color: #67c23a;
        --ell-button-hover-text-color: #fff;
        --ell-button-hover-bg-color: #95d475;
        --ell-button-hover-border-color: #95d475;
        --ell-button-active-color: #529b2e;
        --ell-button-active-bg-color: #529b2e;
        --ell-button-active-border-color: #529b2e;
    }
    @include m(info) {
        --ell-button-text-color: #ffffff;
        --ell-button-bg-color: #909399;
        --ell-button-border-color: #909399;
        --ell-button-hover-text-color: #fff;
        --ell-button-hover-bg-color: #b1b3b8;
        --ell-button-hover-border-color: #909399;
        --ell-button-active-color: #73767a;
        --ell-button-active-bg-color: #73767a;
        --ell-button-active-border-color: #73767a;
    }
    @include m(warning) {
        --ell-button-text-color: #ffffff;
        --ell-button-bg-color: #e6a23c;
        --ell-button-border-color: #e6a23c;
        --ell-button-hover-text-color: #fff;
        --ell-button-hover-bg-color: #eebe77;
        --ell-button-hover-border-color: #eebe77;
        --ell-button-active-color: #b88230;
        --ell-button-active-bg-color: #b88230;
        --ell-button-active-border-color: #b88230;
    }
    @include m(danger) {
        --ell-button-text-color: #ffffff;
        --ell-button-bg-color: #f56c6c;
        --ell-button-border-color: #f56c6c;
        --ell-button-hover-text-color: #fff;
        --ell-button-hover-bg-color: #f89898;
        --ell-button-hover-border-color: #f89898;
        --ell-button-active-color: #c45656;
        --ell-button-active-bg-color: #c45656;
        --ell-button-active-border-color: #c45656;
    }
}