@use 'mixins/mixins.scss' as *;
@use 'mixins/var.scss' as *;


@include b(button) {
    @include set-component-css-var('button', $button)
}

@include b(button) {
    height: 32px;
    color: getCssVar('button', 'text-color');
    outline: none;
    font-weight: 500;
    background-color: getCssVar('button', 'bg-color');
    border: 1px solid #dcdfe6;
    border-color: getCssVar('button', 'border-color');;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        color: getCssVar('button', 'hover','text-color');
        border-color: getCssVar('button', 'hover','border-color');
        background-color: getCssVar('button', 'hover','bg-color');
        outline: none;
    }
    &:active {
        color: getCssVar('button', 'active','text-color');
        border-color: getCssVar('button', 'active','border-color');
        background-color: getCssVar('button', 'active','bg-color');
        outline: none;
    }
    @include m(primary) {
        --ell-button-text-color: #ffffff;
        --ell-button-bg-color: #409eff;
        --ell-button-border-color: #409eff;
        --ell-button-hover-text-color: #fff;
        --ell-button-hover-bg-color: #79bbff;
        --ell-button-hover-border-color: #79bbff;
        --ell-button-active-color: #337ecc;
        --ell-button-active-bg-color: #337ecc;
        --ell-button-active-border-color: #337ecc;
    }
}