@use 'sass:math';
@use "./mixins/mixins.scss" as *;
@use "./mixins/col.scss" as *;
[class*=ell-col-] {
    box-sizing: border-box;
}
@for $i from 0 through 24 {
    .ell-col-#{$i} {
        width: (math.div(1,24) * $i * 100)* 1%;
    }
    .ell-col-offset-#{$i} {
        margin-left: (math.div(1,24) * $i * 100)* 1%;
    }
    .ell-col-push-#{$i} {
        position: relative;
        left: (math.div(1,24) * $i * 100)* 1%;
    }
    .ell-col-pull-#{$i} {
        position: relative;
        right: (math.div(1,24) * $i * 100)* 1%;
    }
}
@include col-size(xs);
@include col-size(sm);
@include col-size(md);
@include col-size(lg);
@include col-size(xl);
