@use 'mixins/mixins.scss' as *;
@use 'mixins/var.scss' as *;
@use 'common/var.scss' as *;
@include b(link) {
    @include set-component-css-var('link', $link)
}
@include b(link) {
    color: getCssVar('link', 'text-color');
    font-size: getCssVar('link', 'font-size');
    font-weight: getCssVar('link', 'font-weight');
}