@use 'mixins/mixins.scss' as *;
@use 'mixins/var.scss' as *;
@use 'common/var.scss' as *;
@include b(link) {
    @include set-component-css-var('link', $link)
}
@include b(link) {
    color: getCssVar('link', 'text-color');
    font-size: getCssVar('link', 'font-size');
    font-weight: getCssVar('link', 'font-weight');
    position: relative;
    &:hover {
        color: getCssVar('link', 'hover-text-color')
    }
    @include when(underline) {
        &:hover:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            border-bottom: 1px solid getCssVar('link', 'hover-text-color');
        }
    }
    @include when(disabled) {
        color: getCssVar('link', 'disabled-text-color');
        cursor: not-allowed;
    }
    @each $type in $types {
        &.#{$namespace}-link--#{$type} {
            @include css-var-from-global(('link', 'text-color'), ('color', $type));
            @include css-var-from-global(('link', 'hover-text-color'), ('color', $type, 'light-3'));
            @include css-var-from-global(('link', 'disabled-text-color'), ('color', $type, 'light-5'));
        }
    }
}