@use 'sass:map';
@use 'mixins/mixins.scss' as *;
@use 'mixins/var.scss' as *;
@use 'common/var.scss' as *;

@include b(radio) {
    @include set-component-css-var('radio', $radio)
}

@include b(radio) {
    margin-right: 32px;
    cursor: pointer;
    font-size: getCssVar('font-size', 'base');
    user-select: none;
    font-weight: getCssVar('radio-font-weight');
    height: map.get($radio-height, 'default');
    display: inline-flex;
    align-items: center;
    @include e(input) {
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        @include when(checked) {
            .#{$namespace}-radio__inner {
                border-color: map.get($radio-checked, 'input-border-color');
                background: map.get($radio-checked, 'icon-color');
                &::after {
                    transform: translate(-50%, -50%) scale(1);
                }
            }
            & + .#{$namespace}-radio__label {
                color: map.get($radio-checked, 'text-color');
            }
        }
    }
    @include e(original) {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    @include e(inner) {
        width: getCssVar('radio-input-width');
        height: getCssVar('radio-input-height');
        display: inline-block;
        border: getCssVar('radio-input-border');
        border-radius: getCssVar('radio-input-border-radius');
        background-color: getCssVar('radio-input-bg-color');
        position: relative;
        &:hover {
            border-color: getCssVar('radio-input-border-color-hover');
        }
        &::after {
            width: 4px;
            height: 4px;
            border-radius: getCssVar('radio-input-border-radius');
            background-color: getCssVar('color-white');
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(0);
        }
    }

    @include e(label) {
        padding-left: 8px;
    }
}