@use 'mixins/mixins.scss' as *;
@use 'mixins/var.scss' as *;
@use 'common/var' as  *;
@include b(scrollbar) {
    @include set-component-css-var('scrollbar', $scrollbar)
}
@include b(scrollbar) {
    overflow: hidden;
    position: relative;
    @include e(wrap) {
        height: 100%;
        overflow: auto;
        @include m(hidden-default) {
            scrollbar-width: none;
        }
    }
    @include e(thumb) {
        width: 0;
        height: 0;
        background-color: var(#{getCssVarName('scrollbar-bg-color')});
        opacity: var(#{getCssVarName('scrollbar-opacity')});
        border-radius: inherit;
        &:hover {
            background-color: var(#{getCssVarName('scrollbar-hover-bg-color')});
        opacity: var(#{getCssVarName('scrollbar-hover-opacity')});
        }
    }
    @include e(bar) {
        position: absolute;
        bottom: 2px;
        right: 2px;
        border-radius: 4px;
        @include when(vertical) {
            width: 6px;
            top: 2px;
            > div {
                width: 100%;
            }
        }
        @include when(horizontal) {
            height: 6px;
            left: 2px;
            > div {
                height: 100%;
            }
        }
    }
}