@use 'mixins/mixins.scss' as *;
@use 'mixins/var.scss' as *;
@use 'common/var' as  *;
@include b(scrollbar) {
    @include set-component-css-var('scrollbar', $scrollbar)
}
@include b(scrollbar) {
    overflow: hidden;
    position: relative;
    @include e(wrap) {
        height: 100%;
        overflow: auto;
        @include m(hidden-default) {
            scrollbar-width: none;
        }
    }
    @include e(thumb) {
        width: 100%;
        background-color: var(#{getCssVarName('scrollbar-bg-color')});
        opacity: var(#{getCssVarName('scrollbar-opacity')});
        border-radius: inherit;
        &:hover {
            background-color: var(#{getCssVarName('scrollbar-hover-bg-color')});
        opacity: var(#{getCssVarName('scrollbar-hover-opacity')});
        }
    }
    @include e(bar) {
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 2px;
        width: 6px;
        border-radius: 4px;
    }
}