@use 'mixins/mixins.scss' as *;
@include b(scrollbar) {
    overflow: hidden;
    @include e(wrap) {
        height: 100%;
        overflow: auto;
        @include m(hidden-default) {
            scrollbar-width: none;
        }
    }
}