@use 'sass:map';
@use 'mixins/mixins' as *;
@use 'common/var.scss' as *;
@use 'mixins/utils.scss' as *;


$switch-height: (
    'large': 40px,
    'default': 32px,
    'small': 24px
);
$switch-core-width: (
    'large': 50px,
    'default': 40px,
    'small': 30px
);
$switch-core-height: (
    'large': 24px,
    'default': 20px,
    'small': 16px
);
$switch-core-border-radius: (
    'large': 12px,
    'default': 10px,
    'small': 8px
);

$switch-button-size: (
    'large': 20px,
    'default': 16px,
    'small': 12px
);

$switch-font-size: (
    'large': 14px,
    'default': 14px,
    'small': 12px
);

$switch-content-padding: (
    'large': 6px,
    'default': 4px,
    'small': 2px
);


@include b(switch) {
    @include set-component-css-var('switch', $switch)
}

@include b(switch) {
    position: relative;
    display: flex;
    align-items: center;
    font-size: map.get($switch-font-size, 'default');
    height: map.get($switch-height, 'default');
    @include e(label) {
        display: inline-block;
        height: map.get($switch-core-height, 'default');
        font-size: map.get($switch-font-size, 'default');
        font-weight: 500;
        cursor: pointer;
        @include m(left) {
            margin-right: 10px;
        }
        @include m(right) {
            margin-left: 10px;
        }
        @include when(active) {
            color: getCssVar('color-primary');
        }
    }
    @include e(input) {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
    }
    @include e(core) {
        position: relative;
        display: inline-flex;
        align-items: center;
        min-width: map.get($switch-core-width, 'default');
        height: map.get($switch-core-height, 'default');
        display: inline-flex;
        border: 1px solid getCssVar('switch-off-color');
        border-radius: map.get($switch-core-border-radius, 'default');
        background: getCssVar('switch-off-color');
        box-sizing: border-box;
        cursor: pointer;

        .#{$namespace}-switch__inner {
            width: 100%;
            height: map.get($switch-button-size,'default');
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            padding: 0 map.get($switch-content-padding, 'default') 
                     0 calc(#{map.get($switch-button-size,'default') + 2px});
            .is-icon,.is-text {
                font-size: 12px;
                color: getCssVar('color-white');
                user-select: none;
                @include utils-ellipsis;
            }
            
        }

        .#{$namespace}-switch__action {
            position: absolute;
            left: 1px;
            width: map.get($switch-button-size, 'default');
            height: map.get($switch-button-size, 'default');
            background-color: getCssVar('color-white');
            border-radius: getCssVar('border-radius-circle');
            color: getCssVar('switch-off-color');
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @include when(checked) {
        .#{$namespace}-switch__core {
            border-color: getCssVar('switch-on-color');
            background-color: getCssVar('switch-on-color');
            .#{$namespace}-switch__action {
                left: calc(100% - #{map.get($switch-button-size, 'default') + 1px});
                color: getCssVar('switch-on-color')
            }
            .#{$namespace}-switch__inner {
                padding: 0 calc(#{map.get($switch-button-size,'default') + 2px}) 
                     0 map.get($switch-content-padding, 'default');
            }
        }
    }

    @include when(disabled) {
        opacity: 0.6;
        & .#{$namespace}-switch__core,.#{$namespace}-switch__label {
            cursor: not-allowed;
        }
    }

    @each $size in (large,small) {
        @include m($size) {
            font-size: map.get($switch-font-size, $size);
            height: map.get($switch-height, $size);
            @include e(label) {
                height: map.get($switch-core-height, $size);
                font-size: map.get($switch-font-size, $size);
            }
            @include e(core) {
                height: map.get($switch-core-height, $size);
                min-width: map.get($switch-core-width, $size);
                border-radius: map.get($switch-core-border-radius, $size);
                .#{$namespace}-switch__inner {
                    height: map.get($switch-button-size, $size);
        
                    padding: 0 map.get($switch-content-padding, $size) 
                             0 calc(#{map.get($switch-button-size, $size) + 2px});
                }
                .#{$namespace}-switch__action {
                    width: map.get($switch-button-size, $size);
                    height: map.get($switch-button-size, $size);
                }
            }
            @include when(checked) {
                .#{$namespace}-switch__core {
                    .#{$namespace}-switch__action {
                        left: calc(100% - #{map.get($switch-button-size, $size) + 1px});
                    }
                    .#{$namespace}-switch__inner {
                        padding: 0 calc(#{map.get($switch-button-size,$size) + 2px}) 
                        0 map.get($switch-content-padding, $size);
                    }
                }
            }
        }
    }
}