@use 'sass:math';
@use "./mixins.scss" as *;

@mixin col-size($size) {
    @include res($size) {
        @for $i from 0 through 24 {
            .ell-col-#{$size}-#{$i} {
                width: (math.div(1,24) * $i * 100)* 1%;
            }
            .ell-col-#{$size}-offset-#{$i} {
                margin-left: (math.div(1,24) * $i * 100)* 1%;
            }
            .ell-col-#{$size}-push-#{$i} {
                position: relative;
                left: (math.div(1,24) * $i * 100)* 1%;
            }
            .ell-col-#{$size}-pull-#{$i} {
                position: relative;
                right: (math.div(1,24) * $i * 100)* 1%;
            }
        }
    }
}
