@use 'config';

@function joinVarName($list) {
    $name: '--ell';
    @each $item in $list {
        @if $item != '' {
            $name: $name + '-' + $item
        }
    }
    @return $name;
}
@function getCssVar($args...) {
    @return var(#{joinVarName($args)})
}
@function getCssVarName($args...) {
    @return joinVarName($args)
}

@function bem($block, $modifier: '') {
    $name: config.$namespace + config.$common-separator + $block;
    @if $modifier != '' {
        $name: $name + config.$modifier-separator +  $modifier;
    }
    @return $name;
}
