@mixin utils-clearfix {
    $slector: &;
    #{$slector}::before,
    #{$slector}::after {
        display: table;
        content: '';
    }
    #{$slector}::after {
        clear: both;
    }
}

@mixin utils-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}