@use 'sass:map';
@use 'sass:math';
$types: primary,success,warning,danger,error,info;
$colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
        'base': #409eff
    ),
    'success': (
        'base': #67c23a
    ),
    'warning': (
        'base': #e6a23c
    ),
    'danger': (
        'base': #f56c6c
    ),
    'error': (
        'base': #f56c6c
    ),
    'info': (
        'base': #909399
    )
);

$font-size: (
    'base': 14px
);

$border-radius: (
    'base': 4px,
    'round': 20px
);

$border-width: 1px;

$fill-color: (
    '': #f0f2f5,
    'light': #f5f7fa,
    'dark': #ebedf0
);



@mixin set-color-mix-level($type,$number,$mode,$mix-color) {
    $colors: map.deep-merge(
            $colors,
            (
                $type: (
                    '#{$mode}-#{$number}': mix($mix-color, map.get($colors,$type,'base'), math.percentage(math.div($number,10)))
                )
            )
        ) !global;
}

@each $type in $types {
    @include set-color-mix-level($type, 2, 'dark', #000000);
}

@each $type in $types {
    @for $i from 1  through 9 {
        @include set-color-mix-level($type, $i, 'light', #ffffff);
    }

}

$badge: (
    'bg-color': #f56c6c,
    'radius': 10px,
    'font-size': 12px,
    'padding': 6px
);


$button: (
    'text-color': '#606266',
    'bg-color': '#ffffff',
    'border-color': '#dcdfe6',
    'hover-text-color': '#409eff',
    'hover-border-color': '#c6e2ff',
    'hover-bg-color': '#ecf5ff',
    'active-text-color': '#409eff',
    'active-border-color': '#409eff',
    'active-bg-color': '#ecf5ff',
    'disabled-text-color': '#a8abb2',
    'disabled-bg-color': '#ffffff',
    'disabled-border-color': '#e4e7ed',
    'hover-link-text-color': '#909399'
);

$button-padding-vertical: (
    'large': 12px,
    'default': 8px,
    'small': 5px
);

$button-padding-horizontal: (
    'large': 19px,
    'default': 15px,
    'small': 11px
);

$button-font-size: (
    'large': 14px,
    'default': 14px,
    'small': 12px
);

$button-border-radius: (
    'large': 4px,
    'default': 4px,
    'small': 3px
);

$input-height: (
    'large': 40px,
    'default': 32px,
    'small': 24px
);

$input: (
    'border-color': #dcdfe6,
    'hover-border-color': #c0c4cc,
    'focus-border-color': #409eff,
    'border-radius': 4px,
    'icon-color': #a8abb2,
    'clear-hover-color': #909399,
    'width': 100%,
    'text-color': #606266,
    'placeholder-color': #a8abb2
);

$input-disabled: (
    'border': #e4e7ed,
    'fill': #f5f7fa,
    'text-color': #a8abb2,
    'placeholder-color': #a8abb2
);

$input-font-size: (
    'large': 14px,
    'default': 14px,
    'small': 12px
);

$input-padding-horizontal: (
    'large': 15px,
    'default': 11px,
    'small': 7px
);

$link: (
    'font-size': 14px,
    'font-weight': 500,
    'text-color': #606266,
    'hover-text-color': #409eff,
    'disabled-text-color': #a8abb2
);

$text: (
    'font-size': 14px,
    'color': #606266
);

$text-font-size: (
    'large': 16px,
    'default': 14px,
    'small': 12px
);

$scrollbar: (
    'bg-color': #909399,
    'hover-bg-color': #909399,
    'opacity': 0.3,
    'hover-opacity': 0.5
);

$header: (
    'padding': 0 20px,
    'height': 60px
);

$footer: (
    'padding': 0 20px,
    'height': 60px
);

$main: (
    'padding': 20px
);

$aside: (
    'width': 300px
);

$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

$breakpoints: (
    'xs': '(max-width: #{$sm - 1})',
    'sm': '(min-width: #{$sm})',
    'md': '(min-width: #{$md})',
    'lg': '(min-width: #{$lg})',
    'xl': '(min-width: #{$xl})'
)
