@use 'sass:map';
@use 'sass:math';
$types: primary,success,warning,danger,error,info;
$colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
        'base': #409eff
    ),
    'success': (
        'base': #67c23a
    ),
    'warning': (
        'base': #e6a23c
    ),
    'danger': (
        'base': #f56c6c
    ),
    'error': (
        'base': #f56c6c
    ),
    'info': (
        'base': #909399
    )
);

$border-radius: (
    'base': 4px,
    'round': 20px
);

@mixin set-color-mix-level($type,$number,$mode,$mix-color) {
    $colors: map.deep-merge(
            $colors,
            (
                $type: (
                    '#{$mode}-#{$number}': mix($mix-color, map.get($colors,$type,'base'), math.percentage(math.div($number,10)))
                )
            )
        ) !global;
}

@each $type in $types {
    @include set-color-mix-level($type, 2, 'dark', #000000);
}

@each $type in $types {
    @for $i from 1  through 9 {
        @include set-color-mix-level($type, $i, 'light', #ffffff);
    }

}

$badge: (
    'bg-color': #f56c6c,
    'radius': 10px,
    'font-size': 12px,
    'padding': 6px
);


$button: (
    'text-color': '#606266',
    'bg-color': '#ffffff',
    'border-color': '#dcdfe6',
    'hover-text-color': '#409eff',
    'hover-border-color': '#c6e2ff',
    'hover-bg-color': '#ecf5ff',
    'active-text-color': '#409eff',
    'active-border-color': '#409eff',
    'active-bg-color': '#ecf5ff',
    'disabled-text-color': '#a8abb2',
    'disabled-bg-color': '#ffffff',
    'disabled-border-color': '#e4e7ed',
);

$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

$breakpoints: (
    'xs': '(max-width: #{$sm - 1})',
    'sm': '(min-width: #{$sm})',
    'md': '(min-width: #{$md})',
    'lg': '(min-width: #{$lg})',
    'xl': '(min-width: #{$xl})'
)
