$colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': #409eff,
    'success': #67c23a,
    'warning': #e6a23c,
    'danger': #f56c6c,
    'error': #f56c6c,
    'info': #909399
);

$badge: (
    'bg-color': #f56c6c,
    'radius': 10px,
    'font-size': 12px,
    'padding': 6px
);
$breakpoints: (
    'xs': '(max-width: 767px)',
    'sm': '(min-width: 768px)',
    'md': '(min-width: 992px)',
    'lg': '(min-width: 1200px)',
    'xl': '(min-width: 1920px)'
)